.idea
.python-version
.ipynb_checkpoints
examples/python/som3_mpc1/*
*.pyc
*.txt
!worker/requirements/*.txt
*.mat
*.log
*.err
dymosim
dsmodel.c
examples/julia/*.csv
testcase2/doc/build/
parser/*.fmu
parser/*.mo
parser/*.json
~$*

# ignore the really large csv files for MPC related analysis
examples/python/metamodeling/wrapped 2.csv
examples/python/metamodeling/*/SOM3N4SID_clean3*
examples/python/dompc/.ipynb_checkpoints

# ignore python example tmp files
examples/python/tmp_*
