.idea
.python-version
examples/python/som3_mpc1/*
*.pyc
*.txt
!worker/requirements/*.txt
*.mat
dymosim
dsmodel.c
*.log
*.err
examples/julia/*.csv
testcase2/doc/build/
parser/*.fmu
parser/*.mo
parser/*.json
