###### RESTful API ######
requests
requests_toolbelt

###### Utilities #######

matplotlib == 3.8.3
pandas
opyplus

###### do-mpc ######

do-mpc
xlrd
scipy

###### OpenAI Gym ####
gym
tensorflow == 2.13.0
