{

"kpi1":{
    "required":{
    "name": "Temp_0", 
    "kpi_class": "Deviation", 
    "kpi_file": "examples.python.custom_kpi.custom_kpis_example",
    "data_points":
    {"d":"senTemRoom_y"}},
     "optional":
    {"setpoint": "0"}
},

"kpi2":{
    "required":{
    "name": "Temp_1", 
    "kpi_class": "Deviation", 
    "kpi_file": "examples.python.custom_kpi.custom_kpis_example",
    "data_points":
    {"d":"senTemRoom1_y"}},
     "optional":
    {"setpoint": "0"}
},

"kpi3":{
    "required":{
    "name": "Temp_2", 
    "kpi_class": "Deviation", 
    "kpi_file": "examples.python.custom_kpi.custom_kpis_example",
    "data_points":
    {"d":"senTemRoom2_y"}},
     "optional":
    {"setpoint": "0"}
},

"kpi4":{
    "required":{
    "name": "Temp_3", 
    "kpi_class": "Deviation", 
    "kpi_file": "examples.python.custom_kpi.custom_kpis_example",
    "data_points":
    {"d":"senTemRoom3_y"}},
     "optional":
    {"setpoint": "0"}
},

"kpi5":{
    "required":{
    "name": "Temp_4", 
    "kpi_class": "Deviation", 
    "kpi_file": "examples.python.custom_kpi.custom_kpis_example",
    "data_points":
    {"d":"senTemRoom4_y"}},
     "optional":
    {"setpoint": "0"}
},

"kpi6":{
    "required":{
    "name": "Average_power_0", 
    "kpi_class": "MovingAve", 
    "kpi_file": "examples.python.custom_kpi.custom_kpis_example",
    "data_points":
    {
     "z":"senPowCor_y"
     }},
     "optional":
     {"data_point_num": "300"}
},

"kpi7":{
    "required":{
    "name": "Average_power_1", 
    "kpi_class": "MovingAve", 
    "kpi_file": "examples.python.custom_kpi.custom_kpis_example",
    "data_points":
    {
     "z":"senPowPer1_y"
     }},
     "optional":
     {"data_point_num": "300"}
},


"kpi8":{
    "required":{
    "name": "Average_power_2", 
    "kpi_class": "MovingAve", 
    "kpi_file": "examples.python.custom_kpi.custom_kpis_example",
    "data_points":
    {
     "z":"senPowPer2_y"
     }},
     "optional":
     {"data_point_num": "300"}
},


"kpi9":{
    "required":{
    "name": "Average_power_3", 
    "kpi_class": "MovingAve", 
    "kpi_file": "examples.python.custom_kpi.custom_kpis_example",
    "data_points":
    {
     "z":"senPowPer3_y"
     }},
     "optional":
     {"data_point_num": "300"}
},


"kpi10":{
    "required":{
    "name": "Average_power_4", 
    "kpi_class": "MovingAve", 
    "kpi_file": "examples.python.custom_kpi.custom_kpis_example",
    "data_points":
    {
     "z":"senPowPer4_y"
     }},
     "optional":
     {"data_point_num": "300"}
}
}
